<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Blaster - Login</title>
        <br><br>
    </head>
    <body>
        {{!-- Text Section --}}
        <main <main class="flex justify-center relative space-x-20 py-20 mt-16 text-left flex-wrap bg-gradient-to-r from-blue-100 to-cyan-100 rounded-lg shadow-lg">
            <div class="flex flex-col items-start space-y-5 text-left">
                <h1 class="text-4xl">
                    About <span class="text-blue-400 font-bold">Us.</span>
                </h1>
                <p class="text-lg font-semibold pt-6">
                    On a fateful October day of the year 2022, four strangers were grouped together for the second project
                    of Professor Avery’s Web-Front Engineering course. They bonded over the horror that is Cascading Style 
                    Sheets when writing HTML. Nothing like tears and frustration that really brings a group of people together. 
                    They were able to overcome all adversities and create Task Blaster, a task list web application that aims to keep users on track.
                </p>
            </div>
            <div class="flex flex-col items-center space-y-5 text-left">
                <p class="text-lg font-bold pt-20">MEET THE TEAM.</p>
                <ul class="list-disc pl-4 space-y-6 max-w-sm">
                    <li>Julian Apparicio
                        <div>
                            <a href="https://github.com/awesomejuju" class="text-blue-500 underline hover:text-blue-700">github link</a>
                        </div>
                    </li>
                    <li>Erica Bravo
                        <div>
                            <a href="https://github.com/ericabCSUF" class="text-blue-500 underline hover:text-blue-700">github link</a>
                        </div>
                    </li>
                    <li>Parker Martel
                        <div>
                            <a href="https://github.com/parker-martel" class="text-blue-500 underline hover:text-blue-700">github link</a>
                        </div>
                    </li>
                    <li>Cayden Sarvis
                        <div>
                            <a href="https://github.com/awesomejuju" class="text-blue-500 underline hover:text-blue-700">github link</a>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>