<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Blaster - Main</title>    
    </head>
    <body>
        <header class="flex items-center mt-3 ml-7">
            <h1 class="text-4xl">Welcome, <span class="text-blue-400 font-bold">{{currentUser.details.username}}</span></h1>
        </header>
        {{!-- Todo List --}}
        <main class="flex flex-col mt-8 justify-center items-center ">
            {{!-- Section 1 --}}
            <section class="section-container" object>
                <h1 class="section-number">Section 1</h1>
                <div class="section-divider"></div>
                <div class="space-y-2 "array key="todos1" sortable>
                {{#for todo in todos1}}
                <p class="todo-box"
                object 
                key:text="@innerText"
                edit:text
                >{{default todo.text "New todo item"}}
                {{/for}}
                </div>

                <button class="add-todo-button" new:todo>Add Todo</button>
            </section>
            
            {{!-- Section 2 --}}
            <section class="section-container" object>
                <h1 class="section-number">Section 2</h1>
                <div class="section-divider"></div>
                <div class="space-y-2 "array key="todos2" sortable>
                {{#for todo in todos2}}
                <p class="todo-box"
                object 
                key:text="@innerText"
                edit:text
                >{{default todo.text "New todo item"}}
                {{/for}}
                </div>

                <button class="add-todo-button" new:todo>Add Todo</button>
            </section>

            {{!-- Section 3 --}}
            <section class="section-container" object>
                <h1 class="section-number">Section 3</h1>
                <div class="section-divider"></div>
                <div class="space-y-2 "array key="todos3" sortable>
                {{#for todo in todos3}}
                <p class="todo-box"
                object 
                key:text="@innerText"
                edit:text
                >{{default todo.text "New todo item"}}
                {{/for}}
                </div>

                <button class="add-todo-button" new:todo>Add Todo</button>
            </section>
        </main> 
    </body>
</html>