<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1>Welcome to the app!</h1>
        <div>[[ Dynamic Remake code goes here]]</div>
        <br><br>
        <a href="https://docs.remaketheweb.com/a-simple-example-app/">Try a simple todo app</a>
    </head>

    <body>
        <h1 class="text-blue-700">Hello world!</h1>
    </body>
</html>