
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Blaster - Login</title>
        <br><br>
    </head>
    <body>
        <form action="/user/login" method="post">
          <h1>Log in</h1>
          <input type="text" name="username" placeholder="username" required>
          <input type="password" name="password" placeholder="password" required>
          <a href="/user/forgot">Forgot your password?</a>
          <button type="submit">Log in</button>
        </form>
    </body>
</html>